/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/sites/*/settings.php
/web/sites/*/services.yml
/web/sites/*/development.services.yml
/web/sites/simpletest/
/web/sites/default/files/
/web/sites/default/private/
/web/sites/default/files-private/
/node_modules/
/.drush/
/.drupalci.yml
phpunit.xml
phpunit.xml.dist
/.editorconfig
/.eslintignore
/.eslintrc.json
/.gitattributes
/.gitignore
/.ht.router.php
/.lando.yml
/.stylelintrc
/.vscode/
.sass-cache/
*.log
*.sql
*.sqlite